In [2]:
import pandas as pd
import os

LISTS = "Lists ON"
KC = "KC_TR_KR"
EXPENSES = "Expenses"

In [86]:
list_cols = ["index", "object_name", "building_year", "balance_date", "object_square", "building_square",
             "using_object_square",
             "not_using_object", "for_rent_object", "rent_object", "sub_rent_object", "transferred_object",
             "transferred_free_use_object",
             "using_building_square", "not_using_building", "for_rent_building", "rent_building", "sub_rent_building",
             "transferred_building", "transferred_free_use_building", "balance", "revaluation", "depreciation",
             "residual_value", "technical_condition"]
len(list_cols)

25

In [87]:
list_df = pd.read_excel(f"{LISTS}/List ON_2016/1 quarter 2016.xls", sheet_name=1)
list_df = list_df[8:]
list_df.columns = list_cols
list_df["year"] = 2016
list_df["quarter"] = 1
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,sub_rent_building,transferred_building,transferred_free_use_building,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter
8,Отделение Благовещенск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,1
9,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,0,0,0,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1
10,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,0,0,0,1050734.76,771306.47,446494.59,604240.17,Удовлетворительное,2016,1
11,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,0,237.7,0,126711.23,53749.02,93108.95,33602.28,Удовлетворительное,2016,1
12,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,0,0,0,1657840.58,NaN,1657840.58,NaN,Ветхое,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,520,"Помещение гаража здания РКЦ, 689450, Чукотский...",1987,24.06.1991,70.1,70.1,70.1,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,Удовлетворительное,2016,1
549,521,"Пункт резервного энергоснабжения РКЦ (лит. А),...",1997,27.10.1997,46.1,46.1,46.1,0,0,0,...,0,0,0,3167024.29,78402.86,702843.54,2464180.75,Хорошее,2016,1
550,522,Теплая стоянка пункта резервного энергоснабжен...,1997,27.10.1997,43.9,43.9,43.9,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,Хорошее,2016,1
551,Итого:,NaN,NaN,NaN,5663.7,5663.7,5016.2,516.5,0,0,...,0,131,0,238957378.57,28476179.89,41361561.48,197595817.09,NaN,2016,1
552,ВСЕГО:,NaN,NaN,NaN,204875.82,204875.82,153157.09,17069.33,18674.22,3367.2,...,940.7,21015.65,0,2886277186.24,486324177.32,497271537.29,2389005648.95,NaN,2016,1

In [88]:
from tqdm import tqdm

count = 0
flag = False
for dir in tqdm(os.listdir(LISTS)):
    for file in os.listdir(f"{LISTS}/{dir}"):
        if count == 0:
            count += 1
            continue
        if file == "4 quarter 2022.xls":
            flag = True
            break
        year = int(dir.split("_")[1])
        quarter = int(file[0])
        some_df = pd.read_excel(f"{LISTS}/{dir}/{file}", sheet_name=1)
        some_df = some_df[8:]
        some_df.columns = list_cols
        some_df["year"] = year
        some_df["quarter"] = quarter
        list_df = pd.concat([list_df, some_df])
        count += 1
    if flag:
        break
list_df

 75%|███████▌  | 6/8 [00:01<00:00,  5.68it/s]

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,sub_rent_building,transferred_building,transferred_free_use_building,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter
8,Отделение Благовещенск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,1
9,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,0,0,0,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1
10,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,0,0,0,1050734.76,771306.47,446494.59,604240.17,Удовлетворительное,2016,1
11,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,0,237.7,0,126711.23,53749.02,93108.95,33602.28,Удовлетворительное,2016,1
12,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,0,0,0,1657840.58,NaN,1657840.58,NaN,Ветхое,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,264,"Помещение гаража Здания РКЦ, 689450, Чукотский...",1987,09.01.2016,70.1,70.1,70.1,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,Хорошее,2022,3
289,265,"пункт резервного энергоснабжения, 689100, Чуко...",1997,09.01.2016,49.4,49.4,0,49.4,0,0,...,0,0,0,3167024.29,78402.86,949871.4,2217152.89,Хорошее,2022,3
290,266,Теплая стоянка пункта резервного энергоснабжен...,1997,09.01.2016,46.9,46.9,0,46.9,0,0,...,0,0,0,NaN,NaN,NaN,NaN,Хорошее,2022,3
291,Итого:,NaN,NaN,NaN,5580.6,5580.6,3846.6,609.3,234.8,0,...,0,808.3,0,234982136.16,25793069.44,54805238.68,180176897.48,NaN,2022,3
292,ВСЕГО:,NaN,NaN,NaN,109813.4,109813.4,84045.36,1285.4,3741.95,2747.2,...,0,20154.99,145.8,2377351319.11,217198289.21,600610325.78,1769533293.56,NaN,2022,3

In [89]:
new_list_cols = ["index", "object_name", "building_year", "balance_date", "object_square", "using_object_square",
                 "not_using_object", "rent_object", "transferred_free_use_object", "for_rent_object", "sub_rent_object",
                 "transferred_object", "subusing", "another_agreement", "storage_agreement", "balance", "revaluation",
                 "depreciation", "residual_value", "technical_condition"]
len(new_list_cols)

20

In [90]:
new_ls_df = pd.read_excel("Lists ON/List ON_2022/4 quarter 2022.xls", skiprows=8)
new_ls_df.drop(new_ls_df.columns[:2], axis=1, inplace=True)
new_ls_df.columns = new_list_cols
new_ls_df['year'] = 2022
new_ls_df["quarter"] = 4
pd.concat([list_df, new_ls_df])

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement
8,Отделение Благовещенск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,NaN,NaN,NaN
9,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,NaN,NaN,NaN
10,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,1050734.76,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,NaN,NaN,NaN
11,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,126711.23,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,NaN,NaN,NaN
12,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,1657840.58,NaN,1657840.58,NaN,Ветхое,2016,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,15.0,"пристройка к ТП № 2, Чукотский автономный окру...",1995,NaN,22.9,NaN,22.9,NaN,NaN,NaN,...,850482.96,344633.94,390371.53,460111.43,Хорошее,2022,4,NaN,NaN,NaN
230,16.0,"Здание РКЦ, Чукотский автономный округ, р-н Би...",1987,31.12.1987,546.3,NaN,546.3,NaN,NaN,NaN,...,11038914.74,9526978.74,3416036.2,7123878.54,Хорошее,2022,4,NaN,NaN,NaN
231,17.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,NaN,NaN,96.3,NaN,NaN,...,3167024.29,78402.86,959372.51,2207651.78,Хорошее,2022,4,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,5555.7,NaN,3814.2,745.8,234.8,NaN,...,234982136.16,25793069.44,55279254.79,179203881.37,NaN,2022,4,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,108817.1,NaN,82378.4,3737.2,2822.2,NaN,...,2385527737.68,216291222.6,611451160.03,1769752320.38,NaN,2022,4,NaN,419.4,NaN

In [91]:

for dir in tqdm(os.listdir(LISTS)[7:]):
    for file in os.listdir(f"{LISTS}/{dir}"):
        year = int(dir.split("_")[1])
        quarter = int(file[0])
        new_some_df = pd.read_excel(f"{LISTS}/{dir}/{file}", skiprows=8)
        new_some_df.drop(new_some_df.columns[:2], axis=1, inplace=True)
        new_some_df.columns = new_list_cols
        new_some_df['year'] = year
        new_some_df["quarter"] = quarter
        new_ls_df = pd.concat([new_ls_df, new_some_df])
new_ls_df

100%|██████████| 1/1 [00:00<00:00, 25.00it/s]

,index,object_name,building_year,balance_date,object_square,using_object_square,not_using_object,rent_object,transferred_free_use_object,for_rent_object,...,subusing,another_agreement,storage_agreement,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter
0,1.0,здание-Центральный банк Российской Федерации (...,1907,NaN,1465.1,1465.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.329127e+06,9.491056e+05,3.177779e+06,1.513473e+05,Удовлетворительное,2022,4
1,2.0,"здание, Российская Федерация, Приморский край,...",1997,NaN,1292.6,1286.1,NaN,NaN,NaN,NaN,...,NaN,6.5,NaN,1.306612e+07,1.902471e+06,3.266529e+06,9.799587e+06,Хорошее,2022,4
2,3.0,"Центральный банк Российской Федерации, Российс...",1996,NaN,3789.6,3779.0,NaN,NaN,NaN,NaN,...,NaN,10.6,NaN,3.545058e+07,NaN,6.450788e+06,2.899979e+07,Удовлетворительное,2022,4
3,4.0,"помещения, Российская Федерация, Приморский кр...",Данные отсутствуют,NaN,130.1,130.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.249596e+06,NaN,3.467629e+05,9.028331e+05,Удовлетворительное,2022,4
4,5.0,"Подземное сооружение (склад), Приморский край,...",Данные отсутствуют,NaN,94.3,94.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.441265e+05,8.452339e+04,9.419324e+04,4.993329e+04,Удовлетворительное,2022,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,546.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.103891e+07,9.526979e+06,3.668173e+06,7.370742e+06,Хорошее,2023,3
228,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,NaN,96.3,NaN,NaN,NaN,...,NaN,NaN,NaN,3.167024e+06,7.840286e+04,9.878757e+05,2.179149e+06,Хорошее,2023,3
229,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,3
230,NaN,NaN,NaN,NaN,5548.0,3814.2,745.8,NaN,NaN,234.8,...,NaN,NaN,NaN,2.349821e+08,2.579307e+07,5.724512e+07,1.777370e+08,NaN,2023,3
231,NaN,NaN,NaN,NaN,108461.7,82421.6,2641.2,NaN,NaN,2822.2,...,NaN,415.5,NaN,2.381971e+09,2.126044e+08,6.362865e+08,1.741859e+09,NaN,2023,3

In [92]:
list_df = pd.concat([list_df, new_ls_df])
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement
8,Отделение Благовещенск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016,1,NaN,NaN,NaN
9,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,NaN,NaN,NaN
10,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,1050734.76,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,NaN,NaN,NaN
11,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,126711.23,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,NaN,NaN,NaN
12,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,1657840.58,NaN,1657840.58,NaN,Ветхое,2016,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,NaN,546.3,NaN,NaN,NaN,...,11038914.74,9526978.74,3668172.74,7370742.0,Хорошее,2023,3,NaN,NaN,NaN
228,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,NaN,NaN,96.3,NaN,NaN,...,3167024.29,78402.86,987875.69,2179148.6,Хорошее,2023,3,NaN,NaN,NaN
229,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,3,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,5548.0,NaN,3814.2,745.8,234.8,NaN,...,234982136.16,25793069.44,57245123.18,177737012.98,NaN,2023,3,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,108461.7,NaN,82421.6,2641.2,2822.2,NaN,...,2381971293.73,212604421.06,636286544.89,1741859491.57,NaN,2023,3,NaN,415.5,NaN

In [93]:
#list_df = list_df.dropna(subset=["building_year"])
#building_year balance_date, drop technical_condition Nan
list_df['object_square'].fillna(0, inplace=True)
list_df["building_square"].fillna(0, inplace=True)
list_df["balance"].fillna(list_df["balance"].mean(), inplace=True)
list_df["revaluation"].fillna(0, inplace=True)
list_df["depreciation"].fillna(0, inplace=True)
list_df["residual_value"].fillna(0, inplace=True)
list_df["building_year"].fillna("данные отсутствуют", inplace=True)

In [94]:
list_df.reset_index(drop=True, inplace=True)
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement
0,Отделение Благовещенск,NaN,данные отсутствуют,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,2.376797e+07,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2016,1,NaN,NaN,NaN
1,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,1.638812e+06,9.374382e+05,5.914977e+05,1.047315e+06,Удовлетворительное,2016,1,NaN,NaN,NaN
2,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,1.050735e+06,7.713065e+05,4.464946e+05,6.042402e+05,Удовлетворительное,2016,1,NaN,NaN,NaN
3,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,1.267112e+05,5.374902e+04,9.310895e+04,3.360228e+04,Удовлетворительное,2016,1,NaN,NaN,NaN
4,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,1.657841e+06,0.000000e+00,1.657841e+06,0.000000e+00,Ветхое,2016,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12368,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,546.3,NaN,NaN,NaN,...,1.103891e+07,9.526979e+06,3.668173e+06,7.370742e+06,Хорошее,2023,3,NaN,NaN,NaN
12369,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,NaN,96.3,NaN,NaN,...,3.167024e+06,7.840286e+04,9.878757e+05,2.179149e+06,Хорошее,2023,3,NaN,NaN,NaN
12370,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,NaN,NaN,NaN,NaN,...,2.376797e+07,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2023,3,NaN,NaN,NaN
12371,NaN,NaN,данные отсутствуют,NaN,5548.0,0.0,3814.2,745.8,234.8,NaN,...,2.349821e+08,2.579307e+07,5.724512e+07,1.777370e+08,NaN,2023,3,NaN,NaN,NaN
12372,NaN,NaN,данные отсутствуют,NaN,108461.7,0.0,82421.6,2641.2,2822.2,NaN,...,2.381971e+09,2.126044e+08,6.362865e+08,1.741859e+09,NaN,2023,3,NaN,415.5,NaN

In [95]:
import numpy as np

list_df['otdel'] = np.nan
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement,otdel
0,Отделение Благовещенск,NaN,данные отсутствуют,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2016,1,NaN,NaN,NaN,NaN
1,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,9.374382e+05,5.914977e+05,1.047315e+06,Удовлетворительное,2016,1,NaN,NaN,NaN,NaN
2,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,7.713065e+05,4.464946e+05,6.042402e+05,Удовлетворительное,2016,1,NaN,NaN,NaN,NaN
3,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,5.374902e+04,9.310895e+04,3.360228e+04,Удовлетворительное,2016,1,NaN,NaN,NaN,NaN
4,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,0.000000e+00,1.657841e+06,0.000000e+00,Ветхое,2016,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12368,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,546.3,NaN,NaN,NaN,...,9.526979e+06,3.668173e+06,7.370742e+06,Хорошее,2023,3,NaN,NaN,NaN,NaN
12369,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,NaN,96.3,NaN,NaN,...,7.840286e+04,9.878757e+05,2.179149e+06,Хорошее,2023,3,NaN,NaN,NaN,NaN
12370,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2023,3,NaN,NaN,NaN,NaN
12371,NaN,NaN,данные отсутствуют,NaN,5548.0,0.0,3814.2,745.8,234.8,NaN,...,2.579307e+07,5.724512e+07,1.777370e+08,NaN,2023,3,NaN,NaN,NaN,NaN
12372,NaN,NaN,данные отсутствуют,NaN,108461.7,0.0,82421.6,2641.2,2822.2,NaN,...,2.126044e+08,6.362865e+08,1.741859e+09,NaN,2023,3,NaN,415.5,NaN,NaN

In [96]:
otdel_df = list_df[
    list_df['index'].apply(lambda x: (isinstance(x, str)) and "итого" not in x.lower() and "всего" not in x.lower())]
indexes = []
for index, row in otdel_df.iterrows():
    indexes.append(index)

for i in range(len(indexes) - 1):
    index = indexes[i]
    start = index + 1
    stop = indexes[i + 1]
    name = otdel_df.loc[index, "index"]
    list_df.loc[start: stop, "otdel"] = name

index = indexes[-1]
start = index + 1
name = otdel_df.loc[index, "index"]
list_df.loc[start:, "otdel"] = name
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement,otdel
0,Отделение Благовещенск,NaN,данные отсутствуют,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2016,1,NaN,NaN,NaN,NaN
1,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,9.374382e+05,5.914977e+05,1.047315e+06,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
2,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,7.713065e+05,4.464946e+05,6.042402e+05,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
3,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,5.374902e+04,9.310895e+04,3.360228e+04,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
4,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,0.000000e+00,1.657841e+06,0.000000e+00,Ветхое,2016,1,NaN,NaN,NaN,Отделение Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12368,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,546.3,NaN,NaN,NaN,...,9.526979e+06,3.668173e+06,7.370742e+06,Хорошее,2023,3,NaN,NaN,NaN,Отделение Анадырь
12369,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,NaN,96.3,NaN,NaN,...,7.840286e+04,9.878757e+05,2.179149e+06,Хорошее,2023,3,NaN,NaN,NaN,Отделение Анадырь
12370,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,2023,3,NaN,NaN,NaN,Отделение Анадырь
12371,NaN,NaN,данные отсутствуют,NaN,5548.0,0.0,3814.2,745.8,234.8,NaN,...,2.579307e+07,5.724512e+07,1.777370e+08,NaN,2023,3,NaN,NaN,NaN,Отделение Анадырь
12372,NaN,NaN,данные отсутствуют,NaN,108461.7,0.0,82421.6,2641.2,2822.2,NaN,...,2.126044e+08,6.362865e+08,1.741859e+09,NaN,2023,3,NaN,415.5,NaN,Отделение Анадырь

In [97]:
list_df = list_df.drop((list_df[list_df['index'].apply(lambda x: (isinstance(x, str)) or pd.isna(x))]).index)
list_df

,index,object_name,building_year,balance_date,object_square,building_square,using_object_square,not_using_object,for_rent_object,rent_object,...,revaluation,depreciation,residual_value,technical_condition,year,quarter,subusing,another_agreement,storage_agreement,otdel
1,1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,217.7,0,0,0,...,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
2,2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,0,0,389.1,0,...,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
3,3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,0,0,0,0,...,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
4,4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,0,830.2,0,0,...,0.00,1657840.58,0.00,Ветхое,2016,1,NaN,NaN,NaN,Отделение Благовещенск
5,5,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,403.9,0,0,0,...,162432.93,208772.46,95120.17,Удовлетворительное,2016,1,NaN,NaN,NaN,Отделение Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12366,12.0,резервное электроснабжение Административных зд...,Данные отсутствуют,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,206785.79,510303.18,0.00,Удовлетворительное,2023,3,NaN,NaN,NaN,Отделение Анадырь
12367,13.0,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,NaN,22.9,0.0,22.9,NaN,NaN,NaN,...,344633.94,401215.18,449267.78,Хорошее,2023,3,NaN,NaN,NaN,Отделение Анадырь
12368,14.0,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,546.3,NaN,NaN,NaN,...,9526978.74,3668172.74,7370742.00,Хорошее,2023,3,NaN,NaN,NaN,Отделение Анадырь
12369,15.0,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,NaN,96.3,NaN,NaN,...,78402.86,987875.69,2179148.60,Хорошее,2023,3,NaN,NaN,NaN,Отделение Анадырь
12370,16.0,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,NaN,2023,3,NaN,NaN,NaN,Отделение Анадырь

In [98]:
list_df = list_df.drop(
    ['index', "using_object_square", "not_using_object", "for_rent_object", "rent_object", "sub_rent_object",
     "transferred_object", "using_building_square", "not_using_building", "for_rent_building", "rent_building",
     "sub_rent_building", "transferred_building", "transferred_free_use_building", 'transferred_free_use_object',
     "subusing", "another_agreement", "storage_agreement"], axis=1)
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel
1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,Отделение Благовещенск
2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,Отделение Благовещенск
3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,Отделение Благовещенск
4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.00,Ветхое,2016,1,Отделение Благовещенск
5,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,95120.17,Удовлетворительное,2016,1,Отделение Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12366,резервное электроснабжение Административных зд...,Данные отсутствуют,NaN,0.0,0.0,5.103032e+05,206785.79,510303.18,0.00,Удовлетворительное,2023,3,Отделение Анадырь
12367,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,NaN,22.9,0.0,8.504830e+05,344633.94,401215.18,449267.78,Хорошее,2023,3,Отделение Анадырь
12368,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7370742.00,Хорошее,2023,3,Отделение Анадырь
12369,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,3.167024e+06,78402.86,987875.69,2179148.60,Хорошее,2023,3,Отделение Анадырь
12370,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,2.376797e+07,0.00,0.00,0.00,NaN,2023,3,Отделение Анадырь

In [99]:
list_df[list_df['technical_condition'].isna()]

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel
42,"Павильон, 675000, Амурская область, г.Благовещ...",1990,22.07.1992,148.8,148.8,3.967488e+04,5330.82,39674.88,0.0,NaN,2016,1,Отделение Благовещенск
43,"Летняя кухня, 675000, Амурская область, г.Благ...",1990,22.12.1992,8.8,8.8,1.569913e+04,5781.73,15699.13,0.0,NaN,2016,1,Отделение Благовещенск
165,"Спортивный зал в пансионате ""Светлячок"" ГУ Бан...",данные отсутствуют,NaN,1461.1,1461.1,2.376797e+07,0.00,0.00,0.0,NaN,2016,1,Отделение Петропавловск-Камчатский
182,"Нежилые помещения, 685000, Магаданская обл., г...",1995,NaN,34.3,34.3,2.376797e+07,0.00,0.00,0.0,NaN,2016,1,Отделение Магадан
185,"Нежилые помещения, 685000, Магаданская обл., г...",1953,NaN,585.7,585.7,2.376797e+07,0.00,0.00,0.0,NaN,2016,1,Отделение Магадан
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,"Земельный участок, Российская Федерация, Хабар...",Данные отсутствуют,NaN,0.0,0.0,2.376797e+07,0.00,0.00,0.0,NaN,2022,4,Отделение Анадырь
11848,"Земельный участок, Российская Федерация, Хабар...",Данные отсутствуют,NaN,0.0,0.0,2.376797e+07,0.00,0.00,0.0,NaN,2023,1,Отделение Анадырь
12079,"Земельный участок, Российская Федерация, Хабар...",Данные отсутствуют,NaN,0.0,0.0,2.376797e+07,0.00,0.00,0.0,NaN,2023,2,Отделение Анадырь
12310,"Земельный участок, Российская Федерация, Хабар...",Данные отсутствуют,NaN,0.0,0.0,2.376797e+07,0.00,0.00,0.0,NaN,2023,3,Отделение Анадырь
12370,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,2.376797e+07,0.00,0.00,0.0,NaN,2023,3,Отделение Анадырь

In [31]:
import re

kp = r'кп[^,]+'
kurort = r'курортный поселок[^,]+'
city_pattern = r'г\.\s*([^,]+)'
selo_pattern = r'с\.\s*([^,]+)'
pgt_pattern = r'пгт\.\s*([^,]+)'
pgt2_pattern = r'пгт[^,]+'
poselok_patter = r'п\.\s*([^,]+)'
city_pattern2 = r'город[^,]+'
poselok_pattern2 = r'поселок[^,]+'
poselok_pattern3 = r'Рабочий Поселок[^,]+'
mountain = r'гора[^,]+'
selo_pattern2 = r'с[^,]+'

patterns = [kp, city_pattern, selo_pattern, pgt_pattern, poselok_patter, pgt2_pattern, city_pattern2, poselok_pattern2,
            poselok_pattern3, mountain, selo_pattern2, kurort]

In [146]:
cities = []
for index, row in tqdm(list_df.iterrows()):
    txt = row[0]
    group = 1
    for pattern in patterns:
        match = re.search(pattern, txt)
        if match:
            if len(match.groups()) == 0:
                group = 0
            break
    city = match.group(group)
    cities.append(city)
len(cities)

11742it [00:00, 27927.08it/s]

11742

In [147]:
list_df['city'] = cities
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
1,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
2,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино
3,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка
4,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал
5,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,95120.17,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12366,резервное электроснабжение Административных зд...,Данные отсутствуют,NaN,0.0,0.0,5.103032e+05,206785.79,510303.18,0.00,Удовлетворительное,2023,3,Отделение Анадырь,снабжение Административных зданий
12367,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,NaN,22.9,0.0,8.504830e+05,344633.94,401215.18,449267.78,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
12368,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7370742.00,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино
12369,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,3.167024e+06,78402.86,987875.69,2179148.60,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский
12370,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,2.376797e+07,0.00,0.00,0.00,NaN,2023,3,Отделение Анадырь,городской округ

In [279]:
list_df.to_csv("list.csv", index=False)

In [64]:
list_df = pd.read_csv("list.csv")
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
0,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
1,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино
2,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка
3,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал
4,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,95120.17,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11737,резервное электроснабжение Административных зд...,Данные отсутствуют,NaN,0.0,0.0,5.103032e+05,206785.79,510303.18,0.00,Удовлетворительное,2023,3,Отделение Анадырь,снабжение Административных зданий
11738,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,NaN,22.9,0.0,8.504830e+05,344633.94,401215.18,449267.78,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11739,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7370742.00,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино
11740,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,3.167024e+06,78402.86,987875.69,2179148.60,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский
11741,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,2.376797e+07,0.00,0.00,0.00,NaN,2023,3,Отделение Анадырь,городской округ

In [ ]:
t = "Соболево Главного Управления Центрального банка Российской Федерации по Камчатскому краю"

In [27]:
list_df.loc[list_df['city'].str.lower().str.endswith("."), 'city'] = list_df.loc[
                                                                         list_df['city'].str.lower().str.endswith(
                                                                             "."), 'city'].str[:-1]

In [49]:
from tqdm import tqdm

lst = list_df[list_df['city'] == ')']['object_name'].unique().tolist()

for txt in tqdm(lst):
    group = 1
    for pattern in patterns:
        match = re.search(pattern, txt)
        if match:
            group = len(match.groups())
            if match.group(group) != ')':
                break
    city1 = match.group(group)
    list_df.loc[list_df['object_name'] == txt, 'city'] = city1

list_df

100%|██████████| 302/302 [00:00<00:00, 1330.42it/s]

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
0,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1047314.55,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
1,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,604240.17,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино
2,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,33602.28,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка
3,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал
4,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,95120.17,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11737,резервное электроснабжение Административных зд...,Данные отсутствуют,NaN,0.0,0.0,5.103032e+05,206785.79,510303.18,0.00,Удовлетворительное,2023,3,Отделение Анадырь,снабжение Административных зданий
11738,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,NaN,22.9,0.0,8.504830e+05,344633.94,401215.18,449267.78,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11739,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,NaN,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7370742.00,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино
11740,"Пункт резервного энергоснабжения , Чукотский а...",1997,NaN,96.3,0.0,3.167024e+06,78402.86,987875.69,2179148.60,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский
11741,"Квартира, Российская Федерация, Чукотский авто...",данные отсутствуют,NaN,73.9,0.0,2.376797e+07,0.00,0.00,0.00,NaN,2023,3,Отделение Анадырь,городской округ

In [65]:
list_df.loc[list_df['building_year'] == 'Данные отсутствуют', 'building_year'] = "данные отсутствуют"

In [66]:
years = list_df.loc[(list_df['building_year'] != "данные отсутствуют") & (list_df['balance_date'].isna())][
    'building_year'].to_list()
txt_years = []
for year in years:
    if int(year) < 1990:
        txt = f"01.01.1990"
    else:
        txt = f"01.01.{year}"
    txt_years.append(txt)
years = list_df.loc[
    (list_df['building_year'] != "данные отсутствуют") & (list_df['balance_date'].isna()), 'balance_date'] = txt_years

In [67]:
list_df = list_df.drop(list_df[list_df['building_year'] == 'данные отсутствуют'].index)
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
0,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
1,"Административное здание, 676014, Амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино
2,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка
3,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал
4,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,"РКЦ, Чукотский автономный округ, р-н Анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский
11736,"Административное здание, Российская Федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11738,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11739,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино
11740,"Пункт резервного энергоснабжения , Чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский

In [71]:
ids = list_df["object_name"]
list_df[ids.isin(ids[ids.duplicated()])].sort_values("object_name")

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
497,"""Квартира"" (служебная), 689000, Чукотский авто...",1977,13.10.1998,71.4,71.4,113300.00,0.00,13812.93,99487.07,Удовлетворительное,2016,1,Отделение Анадырь,Анадырь
7145,"""Квартира"" (служебная), 689000, Чукотский авто...",1977,13.10.1998,71.4,71.4,113300.00,0.00,16588.77,96711.23,Удовлетворительное,2019,3,Отделение Анадырь,Анадырь
4533,"""Квартира"" (служебная), 689000, Чукотский авто...",1977,13.10.1998,71.4,71.4,113300.00,0.00,15399.13,97900.87,Удовлетворительное,2018,1,Отделение Анадырь,Анадырь
4980,"""Квартира"" (служебная), 689000, Чукотский авто...",1977,13.10.1998,71.4,71.4,113300.00,0.00,15597.40,97702.60,Удовлетворительное,2018,2,Отделение Анадырь,Анадырь
1542,"""Квартира"" (служебная), 689000, Чукотский авто...",1977,13.10.1998,71.4,71.4,113300.00,0.00,14209.47,99090.53,Удовлетворительное,2016,3,Отделение Анадырь,Анадырь
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5240,эллинг с эстакадой в составе: здание - эллинг ...,1978,03.12.1997,196.4,196.4,1894552.01,1416127.99,1195263.06,699288.95,Удовлетворительное,2018,3,Дальневосточное ГУ Банка России,поселок Горные Ключи Кировского района
3858,эллинг с эстакадой в составе: здание - эллинг ...,1978,03.12.1997,196.4,196.4,1894552.01,1416127.99,1171107.60,723444.41,Удовлетворительное,2017,4,Дальневосточное ГУ Банка России,поселок Горные Ключи Кировского района
4337,эллинг с эстакадой в составе: здание - эллинг ...,1978,03.12.1997,196.4,196.4,1894552.01,1416127.99,1179159.42,715392.59,Удовлетворительное,2018,1,Дальневосточное ГУ Банка России,поселок Горные Ключи Кировского района
2364,эллинг с эстакадой в составе: здание - эллинг ...,1978,03.12.1997,196.4,196.4,1894552.01,1416127.99,1146952.04,747599.97,Удовлетворительное,2017,1,Дальневосточное ГУ Банка России,поселок Горные Ключи Кировского района
2867,эллинг с эстакадой в составе: здание - эллинг ...,1978,03.12.1997,196.4,196.4,1894552.01,1416127.99,1155003.86,739548.15,Удовлетворительное,2017,2,Дальневосточное ГУ Банка России,поселок Горные Ключи Кировского района

In [70]:
list_df[list_df['object_name'].duplicated()]

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city
522,"Помещение объект № 2 (Вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,596414.09,1.042398e+06,Удовлетворительное,2016,2,Отделение Благовещенск,Благовещенск
524,"Административное здание, лит. А, А1, 676980, К...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93489.08,3.322215e+04,Удовлетворительное,2016,2,Отделение Благовещенск,Константиновка
525,"Административное здание, 676530, Амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,2,Отделение Благовещенск,Новокиевский Увал
526,"Административное здание, 675000, Амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,209684.13,9.420850e+04,Удовлетворительное,2016,2,Отделение Благовещенск,Благовещенск
527,"Административное здание, 676246, Амурская обла...",1978,14.02.1992,1080.4,1080.4,2.623702e+06,1867577.03,1181164.54,1.442538e+06,Удовлетворительное,2016,2,Отделение Благовещенск,Зея
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,"РКЦ, Чукотский автономный округ, р-н Анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский
11736,"Административное здание, Российская Федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11738,"пристройка к ТП № 2, Российская Федерация, Чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь
11739,"Здание РКЦ, Российская Федерация, Чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино
11740,"Пункт резервного энергоснабжения , Чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский

In [277]:
list_df['id'] = -1
list_df['object_name'] = list_df['object_name'].apply(lambda x: x.lower())
names = list_df['object_name'].unique()

for i in range(len(names)):
    name = names[i]
    list_df.loc[list_df['object_name'] == name, 'id'] = i
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id
0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,0
1,"административное здание, 676014, амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино,1
2,"административное здание, лит. а, а1, 676980, к...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка,2
3,"административное здание, 676530, амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал,3
4,"административное здание, 675000, амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,"ркц, чукотский автономный округ, р-н анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский,2398
11736,"административное здание, российская федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2399
11738,"пристройка к тп № 2, российская федерация, чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2429
11739,"здание ркц, российская федерация, чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино,2430
11740,"пункт резервного энергоснабжения , чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский,2402

In [278]:
list_df["id"].value_counts()

875     22
878     22
1025    20
1034    20
1026    20
        ..
1752     1
1753     1
1754     1
1759     1
2480     1
Name: id, Length: 2481, dtype: int64

In [103]:
list_df.loc[list_df[
                'object_name'] == "Помещение объект № 2 (Вспомогательный), 675000, Амурская область, г.Благовещенск, Святителя Иннокентия переулок, д.17, 04-07-01-00-00-003", "id"][
    0]

0

In [144]:
expense = pd.read_excel("Expenses/2016.xlsx")
count = 0
for file in os.listdir("Expenses"):
    if count == 0:
        count += 1
        continue
    some_df = pd.read_excel(f"Expenses/{file}")
    expense = pd.concat([expense, some_df])
expense

PermissionError: [Errno 13] Permission denied: 'Expenses/~$2017.xlsx'

In [145]:

expense = expense[expense['Unnamed: 6'].apply(lambda x: "оплата" in str(x).lower())]
expense['Unnamed: 6'].value_counts()

Оплата водоснабжения, канализации                                                        5692
Оплата потребления электроэнергии                                                        4205
Оплата потребления тепловой энергии                                                      2862
Оплата услуг водоснабжения, водоотведения                                                1925
Оплата всех видов отопления зданий и сооружений (кроме электро- и газового снабжения)     783
Оплата потребления газа                                                                    79
Name: Unnamed: 6, dtype: int64

In [146]:
expense = expense.drop(columns=["Unnamed: 0", "Unnamed: 3", "Unnamed: 8", "Unnamed: 11"], axis=1)

In [147]:

#expense = expense.drop((expense['Unnamed: 7'].apply(lambda x: '132.' in str(x) or pd.isna(x))).index)
expense.dropna(subset=['Unnamed: 7'], inplace=True)
expense = expense.drop(expense[expense['Unnamed: 7'].apply(
    lambda x: len(str(x).split()) == 1 and ("132." in str(x).lower() or "134." in str(x).lower()))].index)
expense.columns = ['year', 'smeta', 'code', 'code2', 'rashod_name', 'naprvalenie', 'y1', 'y2']
expense

,year,smeta,code,code2,rashod_name,naprvalenie,y1,y2
24,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,Расходы прошлого года. Оплата потребления элек...,9498.58,9498.58
25,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,Расходы прошлого года. Оплата потребления элек...,9498.58,9498.58
26,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,Расходы прошлого года. Оплата потребления элек...,16294.01,16294.01
27,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,Расходы прошлого года. Оплата потребления элек...,16294.01,16294.01
28,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,Оплата потребления электроэнергии ул.Светланск...,304853.05,304853.05
...,...,...,...,...,...,...,...,...
3714,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",ЗО 134.1000.03 Столовая Хабаровск. Оплата за в...,400.93,400.93
3715,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",ЗО 134.1000.03 Столовая Хабаровск. Оплата за х...,380.25,380.25
3716,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",ЗО 134.1000.03 Столовая Хабаровск. Оплата за х...,380.25,380.25
3717,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",ЗО 134.1000.03 Столовая Хабаровск. Оплата за х...,2081.38,2081.38
3718,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",ЗО 134.1000.03 Столовая Хабаровск. Оплата за х...,2081.38,2081.38

In [281]:
from difflib import SequenceMatcher
from fuzzywuzzy import fuzz
expense["naprvalenie"] = expense["naprvalenie"].apply(lambda x: x.lower())

expense["id"] = -1
expense

,year,smeta,code,code2,rashod_name,naprvalenie,y1,y2,id
24,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,расходы прошлого года. оплата потребления элек...,9498.58,9498.58,-1
25,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,расходы прошлого года. оплата потребления элек...,9498.58,9498.58,-1
26,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,расходы прошлого года. оплата потребления элек...,16294.01,16294.01,-1
27,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,расходы прошлого года. оплата потребления элек...,16294.01,16294.01,-1
28,2016,Смета Аппарата Дальневосточного ГУ Банка Росси...,132.0111,132.0111.000000,Оплата потребления электроэнергии,оплата потребления электроэнергии ул.светланск...,304853.05,304853.05,-1
...,...,...,...,...,...,...,...,...,...
3714,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",зо 134.1000.03 столовая хабаровск. оплата за в...,400.93,400.93,-1
3715,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",зо 134.1000.03 столовая хабаровск. оплата за х...,380.25,380.25,-1
3716,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",зо 134.1000.03 столовая хабаровск. оплата за х...,380.25,380.25,-1
3717,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",зо 134.1000.03 столовая хабаровск. оплата за х...,2081.38,2081.38,-1
3718,2021,Столовая Отделения Хабаровск,134.1000,134.1000.030000,"Оплата услуг водоснабжения, водоотведения",зо 134.1000.03 столовая хабаровск. оплата за х...,2081.38,2081.38,-1

In [155]:
indexes

[222,
 285,
 678,
 301,
 678,
 678,
 216,
 188,
 354,
 175,
 678,
 301,
 215,
 222,
 175,
 513,
 534,
 678,
 678,
 432,
 172,
 388,
 467,
 678,
 513,
 187,
 222,
 30,
 185,
 298,
 394,
 394,
 222,
 534,
 222,
 222,
 636,
 233,
 185,
 394,
 534,
 222,
 187,
 298,
 28,
 210,
 513,
 222,
 194,
 239,
 195,
 285,
 235,
 195,
 239,
 239,
 239,
 195,
 195,
 285,
 246,
 190,
 406,
 192,
 436,
 192,
 513,
 245,
 202,
 190,
 202,
 192,
 52,
 44,
 38,
 10,
 27,
 17,
 8,
 38,
 7,
 28,
 369,
 239,
 10,
 17,
 27,
 38,
 7,
 8,
 203,
 28,
 9,
 2,
 10,
 24,
 10,
 17,
 26,
 24,
 0,
 513,
 6,
 28,
 8,
 8,
 8,
 8,
 19,
 17,
 22,
 25,
 25,
 24,
 0,
 17,
 27,
 22,
 24,
 4,
 20,
 28,
 28,
 19,
 19,
 17,
 17,
 8,
 8,
 0,
 0,
 30,
 30,
 192,
 287,
 52,
 215,
 301,
 513,
 53,
 222,
 58,
 631,
 254,
 285,
 301,
 301,
 301,
 374,
 298,
 111,
 513,
 114,
 111,
 513,
 192,
 398,
 75,
 103,
 398,
 75,
 398,
 297,
 297,
 639,
 371,
 285,
 32,
 222,
 222,
 287,
 210,
 512,
 222,
 222,
 222,
 301,
 645,
 415,
 285,
 235,
 386,
 58,
 301,
 298,
 172,
 172,
 502,
 395,
 162,
 301,
 172,
 176,
 239,
 186,
 327,
 172,
 172,
 161,
 160,
 561,
 162,
 176,
 172,
 158,
 192,
 545,
 545,
 192,
 545,
 53,
 161,
 172,
 545,
 498,
 394,
 394,
 577,
 374,
 182,
 31,
 504,
 182,
 165,
 222,
 407,
 190,
 285,
 301,
 301,
 406,
 388,
 397,
 399,
 414,
 407,
 310,
 406,
 433,
 433,
 636,
 377,
 433,
 545,
 380,
 388,
 385,
 393,
 48,
 190,
 222,
 301,
 233,
 301,
 620,
 301,
 487,
 369,
 369,
 215,
 190,
 379,
 427,
 427,
 285,
 620,
 285,
 424,
 439,
 513,
 386,
 285,
 16,
 427,
 427,
 16,
 616,
 424,
 16,
 16,
 423,
 471,
 427,
 427,
 427,
 392,
 616,
 424,
 172,
 379,
 203,
 203,
 185,
 618,
 30,
 22,
 427,
 298,
 5,
 5,
 205,
 427,
 22,
 38,
 5,
 332,
 427,
 427,
 618,
 381,
 423,
 30,
 30,
 379,
 461,
 30,
 619,
 461,
 423,
 222,
 421,
 421,
 421,
 421,
 421,
 421,
 16,
 16,
 215,
 282,
 16,
 245,
 30,
 190,
 285,
 285,
 493,
 497,
 285,
 285,
 490,
 285,
 172,
 301,
 301,
 493,
 497,
 496,
 490,
 210,
 301,
 301,
 301,
 215,
 437,
 513,
 513,
 388,
 388,
 513,
 16,
 205,
 28,
 493,
 493,
 239,
 16,
 233,
 513,
 513,
 30,
 30,
 30,
 58,
 28,
 28,
 28,
 493,
 498,
 5,
 489,
 31,
 30,
 31,
 5,
 5,
 30,
 30,
 30,
 489,
 285,
 534,
 513,
 510,
 683,
 28,
 222,
 287,
 501,
 501,
 56,
 222,
 222,
 301,
 285,
 497,
 185,
 58,
 185,
 639,
 504,
 301,
 215,
 504,
 186,
 504,
 505,
 504,
 215,
 301,
 301,
 298,
 330,
 285,
 301,
 368,
 316,
 312,
 312,
 192,
 504,
 327,
 539,
 606,
 539,
 606,
 192,
 606,
 190,
 327,
 327,
 618,
 190,
 172,
 279,
 360,
 203,
 190,
 309,
 309,
 309,
 190,
 347,
 619,
 327,
 619,
 327,
 298,
 325,
 354,
 354,
 354,
 504,
 356,
 187,
 393,
 683,
 301,
 534,
 681,
 681,
 301,
 210,
 678,
 678,
 222,
 222,
 433,
 222,
 10,
 10,
 23,
 25,
 10,
 683,
 633,
 222,
 222,
 222,
 172,
 381,
 178,
 498,
 301,
 369,
 427,
 16,
 427,
 427,
 392,
 30,
 5,
 5,
 38,
 5,
 5,
 30,
 30,
 301,
 222,
 205,
 300,
 194,
 406,
 294,
 210,
 371,
 61,
 301,
 504,
 374,
 16,
 222,
 186,
 285,
 301,
 248,
 294,
 285,
 285,
 247,
 285,
 285,
 254,
 285,
 16,
 252,
 222,
 285,
 248,
 203,
 293,
 172,
 16,
 16,
 239,
 35,
 513,
 248,
 56,
 203,
 203,
 203,
 203,
 222,
 636,
 203,
 192,
 203,
 222,
 40,
 249,
 222,
 56,
 406,
 533,
 619,
 297,
 196,
 30,
 619,
 52,
 37,
 329,
 35,
 222,
 237,
 30,
 5,
 30,
 0,
 0,
 706,
 706,
 748,
 5,
 239,
 30,
 239,
 745,
 750,
 718,
 10,
 804,
 804,
 30,
 1017,
 810,
 30,
 5,
 75,
 316,
 75,
 285,
 819,
 840,
 0,
 30,
 5,
 301,
 332,
 606,
 332,
 606,
 606,
 619,
 976,
 14,
 380,
 838,
 818,
 30,
 30,
 848,
 618,
 619,
 810,
 619,
 6,
 810,
 504,
 504,
 504,
 732,
 5,
 30,
 114,
 1014,
 10,
 300,
 31,
 810,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1542,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1800,
 -1,
 -1,
 -1,
 -1,
 2101,
 -1,
 -1,
 1800,
 -1,
 -1,
 -1,
 2101,
 -1,
 -1,
 -1,
 -1,
 2101,
 -1,
 1800,
 1800,
 2157,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1542,
 1800,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1795,
 1795,
 -1,
 -1,
 -1,
 1795,
 1795,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1802,
 -1,
 -1,
 -1,
 1802,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1800,
 1800,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1638,
 -1,
 -1,
 1800,
 1800,
 -1,
 -1,
 -1,
 2029,
 2029,
 1876,
 -1,
 -1,
 1876,
 -1,
 1876,
 2029,
 2029,
 -1,
 -1,
 2029,
 1876,
 -1,
 -1,
 -1,
 -1,
 1876,
 2029,
 -1,
 -1,
 2096,
 -1,
 -1,
 -1,
 2096,
 -1,
 -1,
 -1,
 -1,
 -1,
 1469,
 2096,
 -1,
 -1,
 -1,
 2027,
 2096,
 -1,
 -1,
 2096,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1903,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1903,
 1903,
 -1,
 -1,
 -1,
 1903,
 -1,
 1903,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1903,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1942,
 -1,
 -1,
 1942,
 -1,
 -1,
 -1,
 -1,
 -1,
 2157,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1802,
 -1,
 -1,
 1802,
 -1,
 -1,
 1638,
 1638,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1638,
 1638,
 -1,
 1621,
 1621,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1621,
 1621,
 -1,
 1621,
 1621,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1621,
 1621,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1589,
 -1,
 1538,
 -1,
 ...]

In [157]:
expense['id'].value_counts()

-1      2836
 222     890
 301     802
 513     448
 210     429
        ...
 437       2
 633       2
 252       2
 247       2
 279       2
Name: id, Length: 201, dtype: int64

In [283]:
expense.to_csv("expenses.csv", index=False)

In [251]:
files = os.listdir("KC_TR_KR")

In [257]:
kr = pd.read_excel("KC_TR_KR/KR on 01.01.2017.xlsx", header=None)
ks = pd.read_excel("KC_TR_KR/KS on 01.01.2017.xlsx", header=None)
tr = pd.read_excel("KC_TR_KR/TR on 01.01.2019.xlsx", header=None)

In [258]:
for i in range(1, len(files)):
    if i == 7:
        break
    file = files[i]
    print(file)
    year = int(file.split()[-1].split(".")[2])
    sm_df = pd.read_excel(f"KC_TR_KR/{file}", header=None)
    kr = pd.concat([kr, sm_df])
kr

KR on 01.01.2018.xlsx
KR on 01.01.2019.xlsx
KR on 01.01.2020.xlsx
KR on 01.01.2021.xlsx
KR on 01.01.2022.xlsx
KR on 01.01.2023.xlsx

,0,1,2,3
0,Капитальный ремонт подземного сооружения (Лит....,4088.43,2017,Капитальный ремонт
1,"Капитальный ремонт здания РКЦ Находка, располо...",19001.91,2017,Капитальный ремонт
2,Капитальный ремонт гаража по адресу: Амурская ...,13677.35,2017,Капитальный ремонт
3,Выборочный капитальный ремонт административног...,18034.12,2017,Капитальный ремонт
4,Выборочный капитальный ремонт административног...,448.72,2017,Капитальный ремонт
...,...,...,...,...
10,Капитальный ремонт кровли с устройством электр...,15992094.00,2023,Капитальный ремонт
11,Выборочный капитальный ремонт крыльца централь...,3480781.00,2023,Капитальный ремонт
12,"Выборочный капитальный ремонт помещений №№60, ...",3507454.00,2023,Капитальный ремонт
13,Выборочный капитальный ремонт Административног...,1256612.00,2023,Капитальный ремонт
14,Выборочный капитальный ремонт Административног...,356108.00,2023,Капитальный ремонт

In [259]:
for i in range(8, len(files)):
    if i == 14:
        break
    file = files[i]
    print(file)
    year = int(file.split()[-1].split(".")[2])
    sm_df = pd.read_excel(f"KC_TR_KR/{file}", header=None)
    ks = pd.concat([ks, sm_df])
ks

KS on 01.01.2018.xlsx
KS on 01.01.2019.xlsx
KS on 01.01.2020.xlsx
KS on 01.01.2021.xlsx
KS on 01.01.2022.xlsx
KS on 01.01.2023.xlsx

,0,1,2,3
0,"Реконструкция объектов ""Функциональное помеще...",29266.71,2017,Капитальное строительство
1,Реконструкция здания Расчетно-кассового центра...,1778.91,2017,Капитальное строительство
2,Строительство Административного здания №1 Наци...,333748.33,2017,Капитальное строительство
3,Реконструкция здания Расчетно-кассового центра...,196.79,2017,Капитальное строительство
4,"Реконструкция объекта ""Сооружение ливневая...",10945.44,2017,Капитальное строительство
...,...,...,...,...
9,Создание автоматизированной системы коммерческ...,2609976.00,2023,Капитальное строительство
10,Создание системы электрообогрева фрагментов кр...,1714184.00,2023,Капитальное строительство
11,Создание автоматической системы пожаротушения ...,8921488.00,2023,Капитальное строительство
12,Создание системы кондиционирования администрат...,14255841.00,2023,Капитальное строительство
13,Создание системы приточно-вытяжной вентиляции ...,7687106.00,2023,Капитальное строительство

In [260]:
for i in range(15, len(files)):
    file = files[i]
    print(file)
    year = int(file.split()[-1].split(".")[2])
    sm_df = pd.read_excel(f"KC_TR_KR/{file}", header=None)
    tr = pd.concat([tr, sm_df])
tr

TR on 01.01.2020.xlsx
TR on 01.01.2021.xlsx
TR on 01.01.2022.xlsx
TR on 01.01.2023.xlsx

,0,1,2,3
0,1. Здание- Центральный банк Российской Федерац...,1021.76,2019,"Текущий ремонт зданий, сооружений"
1,"2. Пятиэтажное здание (лит.А2-пристройка, Цент...",186.37,2019,"Текущий ремонт зданий, сооружений"
2,3. Здание - Центральный банк Российской Федера...,1993.03,2019,"Текущий ремонт зданий, сооружений"
3,"4. Нежилые помещения в здании (лит 1,А). Влади...",260.80,2019,"Текущий ремонт зданий, сооружений"
4,5. Нежилые помещения в здании (лит.А); номера ...,36.14,2019,"Текущий ремонт зданий, сооружений"
...,...,...,...,...
53,"Здание ""Нежилое помещение"" РКЦ г. Комсомольск-...",76.67,2023,"Текущий ремонт зданий, сооружений"
54,"«Здание «Банк» (РКЦ г. Советская Гавань), горо...",21.00,2023,"Текущий ремонт зданий, сооружений"
55,«Сеть тепловая магистральная» Хабаровский край...,224.91,2023,"Текущий ремонт зданий, сооружений"
56,"Здание Отделения Анадырь, по адресу: г. Анадыр...",6423.02,2023,"Текущий ремонт зданий, сооружений"
57,"РКЦ Эгвекинот Отделеия Анадырь, пгт Эгвекинот,...",0.00,2023,"Текущий ремонт зданий, сооружений"

In [269]:
kr["id"] = -1
ks["id"] = -1
tr["id"] = -1
kr

,0,1,2,3,id
0,Капитальный ремонт подземного сооружения (Лит....,4088.43,2017,Капитальный ремонт,-1
1,"Капитальный ремонт здания РКЦ Находка, располо...",19001.91,2017,Капитальный ремонт,-1
2,Капитальный ремонт гаража по адресу: Амурская ...,13677.35,2017,Капитальный ремонт,-1
3,Выборочный капитальный ремонт административног...,18034.12,2017,Капитальный ремонт,-1
4,Выборочный капитальный ремонт административног...,448.72,2017,Капитальный ремонт,-1
...,...,...,...,...,...
10,Капитальный ремонт кровли с устройством электр...,15992094.00,2023,Капитальный ремонт,-1
11,Выборочный капитальный ремонт крыльца централь...,3480781.00,2023,Капитальный ремонт,-1
12,"Выборочный капитальный ремонт помещений №№60, ...",3507454.00,2023,Капитальный ремонт,-1
13,Выборочный капитальный ремонт Административног...,1256612.00,2023,Капитальный ремонт,-1
14,Выборочный капитальный ремонт Административног...,356108.00,2023,Капитальный ремонт,-1

In [270]:
kr_ks_tp = pd.concat([kr, ks, tr])
kr_ks_tp

,0,1,2,3,id
0,Капитальный ремонт подземного сооружения (Лит....,4088.43,2017,Капитальный ремонт,-1
1,"Капитальный ремонт здания РКЦ Находка, располо...",19001.91,2017,Капитальный ремонт,-1
2,Капитальный ремонт гаража по адресу: Амурская ...,13677.35,2017,Капитальный ремонт,-1
3,Выборочный капитальный ремонт административног...,18034.12,2017,Капитальный ремонт,-1
4,Выборочный капитальный ремонт административног...,448.72,2017,Капитальный ремонт,-1
...,...,...,...,...,...
53,"Здание ""Нежилое помещение"" РКЦ г. Комсомольск-...",76.67,2023,"Текущий ремонт зданий, сооружений",-1
54,"«Здание «Банк» (РКЦ г. Советская Гавань), горо...",21.00,2023,"Текущий ремонт зданий, сооружений",-1
55,«Сеть тепловая магистральная» Хабаровский край...,224.91,2023,"Текущий ремонт зданий, сооружений",-1
56,"Здание Отделения Анадырь, по адресу: г. Анадыр...",6423.02,2023,"Текущий ремонт зданий, сооружений",-1
57,"РКЦ Эгвекинот Отделеия Анадырь, пгт Эгвекинот,...",0.00,2023,"Текущий ремонт зданий, сооружений",-1

In [284]:
kr_ks_tp[0] = kr_ks_tp[0].apply(lambda x: x.lower())

In [285]:
kr_ks_tp.to_csv("kr_ks_tp.csv", index=False)

In [304]:
list_df.loc[(list_df['object_name'].apply(lambda x: "хозяйства" in str(x)))]

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id
409,"сооружение коммунального хозяйства, 693000, са...",1983,02.09.2015,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2016,1,Отделение Южно-Сахалинск,Южно-Сахалинск,404
931,"сооружение коммунального хозяйства, 693000, са...",1983,02.09.2015,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2016,2,Отделение Южно-Сахалинск,Южно-Сахалинск,404
1449,"сооружение коммунального хозяйства, 693000, са...",1983,02.09.2015,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2016,3,Отделение Южно-Сахалинск,Южно-Сахалинск,404
1971,"сооружение коммунального хозяйства, 693000, са...",1983,02.09.2015,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,NaN,2016,4,Отделение Южно-Сахалинск,Южно-Сахалинск,404
2478,"сооружение коммунального хозяйства, 693000, са...",1983,02.09.2015,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,NaN,2017,1,Отделение Южно-Сахалинск,Южно-Сахалинск,404
8143,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2020,2,Отделение Южно-Сахалинск,Южно-Сахалинск,1583
8472,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2020,3,Отделение Южно-Сахалинск,Южно-Сахалинск,1661
8785,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2020,4,Отделение Южно-Сахалинск,Южно-Сахалинск,1661
9093,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2021,1,Отделение Южно-Сахалинск,ства,1947
9390,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2021,2,Отделение Южно-Сахалинск,ства,1947
9682,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2021,3,Отделение Южно-Сахалинск,ства,1947
9973,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2021,4,Отделение Южно-Сахалинск,ства,1947
10253,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2022,1,Отделение Южно-Сахалинск,ства,1947
10524,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2022,2,Отделение Южно-Сахалинск,ства,1947
10793,"сооружения коммунального хозяйства, 693000, са...",1983,09.01.2016,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2022,3,Отделение Южно-Сахалинск,ства,1947
11031,"сооружения коммунального хозяйства, сахалинска...",1983,23.12.1983,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2022,4,Отделение Анадырь,ства,2341
11246,"сооружения коммунального хозяйства, сахалинска...",1983,23.12.1983,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2023,1,Отделение Анадырь,ства,2341
11459,"сооружения коммунального хозяйства, сахалинска...",1983,23.12.1983,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2023,2,Отделение Анадырь,ства,2455
11672,"сооружения коммунального хозяйства, сахалинска...",1983,01.01.1990,0.0,0.0,2750000.0,2312605.34,2750000.0,0.0,Удовлетворительное,2023,3,Отделение Анадырь,ства,2455

In [321]:
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"административное здание, лит. а, г. ю-сахал...",3239.4,2023,"Текущий ремонт зданий, сооружений",1948,NaN
1,"административное здание, лит. а, г. ю-сахал...",497.9,2021,"Текущий ремонт зданий, сооружений",1948,NaN
2,выборочный капитальный ремонт в части системы...,2223558.0,2021,Капитальный ремонт,2052,NaN
3,"выборочный капитальный ремонт кровли здания, ...",2394.55,2019,Капитальный ремонт,2052,NaN
4,пристрой к административному зданию литер а1 ...,24.24,2021,"Текущий ремонт зданий, сооружений",1510,NaN
...,...,...,...,...,...,...
532,строительство тепловой сети к зданию расчетно-...,3367.16,2018,Капитальное строительство,-1,NaN
533,текущий ремонт пристройки к зданию главного уп...,483.0,2023,"Текущий ремонт зданий, сооружений",-1,NaN
534,текущий ремонт пристройки к зданию главного уп...,62.99,2023,"Текущий ремонт зданий, сооружений",-1,NaN
535,"центральный банк (гараж), по адресу: г. хабаро...",312.4,2021,"Текущий ремонт зданий, сооружений",-1,NaN
536,"центральный банк (убежище 300 мест), по адресу...",95.9,2021,"Текущий ремонт зданий, сооружений",-1,NaN

In [334]:
kr_ks_tp = pd.read_csv("kr_ks_tp.csv", sep=";")
import numpy as np
pattern = r'\d{2}-\d{2}-\d{2}-\d{2}-\d{2}-\d{3}'
pattern2 = r'\d{2}-\d{2}-\d{2}-\d{3}'

kr_ks_tp["ids_row"] = np.nan
for index, row in kr_ks_tp.iterrows():
    txt = row[0]
    matches = re.findall(pattern, txt)
    if matches:
        kr_ks_tp.loc[kr_ks_tp["Column1"] == txt, "ids_row"] = matches[0]
    else:
        matches2 = re.findall(pattern2, txt)
        if matches2:
            kr_ks_tp.loc[kr_ks_tp["Column1"] == txt, "ids_row"] = matches2[0]
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"административное здание, лит. а, г. ю-сахал...",3239.4,2023,"Текущий ремонт зданий, сооружений",1948,59-01-01-00-02-019
1,"административное здание, лит. а, г. ю-сахал...",497.9,2021,"Текущий ремонт зданий, сооружений",1948,59-01-01-00-02-019
2,выборочный капитальный ремонт в части системы...,2223558.0,2021,Капитальный ремонт,2052,NaN
3,"выборочный капитальный ремонт кровли здания, ...",2394.55,2019,Капитальный ремонт,2052,NaN
4,пристрой к административному зданию литер а1 ...,24.24,2021,"Текущий ремонт зданий, сооружений",1510,58-01-01-00-00-005
...,...,...,...,...,...,...
532,строительство тепловой сети к зданию расчетно-...,3367.16,2018,Капитальное строительство,-1,NaN
533,текущий ремонт пристройки к зданию главного уп...,483.0,2023,"Текущий ремонт зданий, сооружений",-1,NaN
534,текущий ремонт пристройки к зданию главного уп...,62.99,2023,"Текущий ремонт зданий, сооружений",-1,NaN
535,"центральный банк (гараж), по адресу: г. хабаро...",312.4,2021,"Текущий ремонт зданий, сооружений",-1,73-05-01-00-03-032
536,"центральный банк (убежище 300 мест), по адресу...",95.9,2021,"Текущий ремонт зданий, сооружений",-1,73-07-01-00-00-005

In [335]:
matches = re.findall(pattern, list_df["object_name"][0])
list_df["ids_row"] = np.nan
for name in names:
    matches = re.findall(pattern, name)
    if matches:
        list_df.loc[list_df['object_name'] == name, "ids_row"] = matches[0]
    else:
        matches2 = re.findall(pattern2, name)
        if matches2:
            list_df.loc[list_df['object_name'] == name, "ids_row"] = matches2[0]
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id,ids_row
0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,0,04-07-01-00-00-003
1,"административное здание, 676014, амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино,1,04-01-06-00-00-005
2,"административное здание, лит. а, а1, 676980, к...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка,2,04-01-09-00-00-007
3,"административное здание, 676530, амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал,3,04-01-03-00-00-008
4,"административное здание, 675000, амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,4,04-01-01-00-00-009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,"ркц, чукотский автономный округ, р-н анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский,2398,79-01-03-036
11736,"административное здание, российская федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2399,79-01-01-039
11738,"пристройка к тп № 2, российская федерация, чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2429,79-04-01-042
11739,"здание ркц, российская федерация, чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино,2430,79-01-01-043
11740,"пункт резервного энергоснабжения , чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский,2402,79-04-03-045

In [336]:
list_df.to_csv("list.csv", index=False)

In [339]:
idss = kr_ks_tp[kr_ks_tp['ids_row'].notna()]['ids_row'].unique()

for id in idss:
    if not list_df.loc[list_df['ids_row'] == id, "id"].empty:
        index = list_df.loc[list_df['ids_row'] == id, "id"].values[0]
        kr_ks_tp.loc[kr_ks_tp['ids_row'] == id, 'Column5'] = index
    else:
        print(id)
kr_ks_tp

51-03-01-01-00-138
03-01-00-01-11-163
59-01-02-00-17-057
58-01-01-00-00-039
58-01-02-00-14-031
73-01-02-00-00-012
51-01-01-00-06-044
51-01-01-00-00-012
73-07-02-00-06-014
51-01-01-00-06-047

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"административное здание, лит. а, г. ю-сахал...",3239.4,2023,"Текущий ремонт зданий, сооружений",407,59-01-01-00-02-019
1,"административное здание, лит. а, г. ю-сахал...",497.9,2021,"Текущий ремонт зданий, сооружений",407,59-01-01-00-02-019
2,выборочный капитальный ремонт в части системы...,2223558.0,2021,Капитальный ремонт,2052,NaN
3,"выборочный капитальный ремонт кровли здания, ...",2394.55,2019,Капитальный ремонт,2052,NaN
4,пристрой к административному зданию литер а1 ...,24.24,2021,"Текущий ремонт зданий, сооружений",295,58-01-01-00-00-005
...,...,...,...,...,...,...
532,строительство тепловой сети к зданию расчетно-...,3367.16,2018,Капитальное строительство,-1,NaN
533,текущий ремонт пристройки к зданию главного уп...,483.0,2023,"Текущий ремонт зданий, сооружений",-1,NaN
534,текущий ремонт пристройки к зданию главного уп...,62.99,2023,"Текущий ремонт зданий, сооружений",-1,NaN
535,"центральный банк (гараж), по адресу: г. хабаро...",312.4,2021,"Текущий ремонт зданий, сооружений",465,73-05-01-00-03-032
536,"центральный банк (убежище 300 мест), по адресу...",95.9,2021,"Текущий ремонт зданий, сооружений",416,73-07-01-00-00-005

In [340]:
kr_ks_tp['Column5'].replace(-1, np.nan, inplace=True)
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"административное здание, лит. а, г. ю-сахал...",3239.4,2023,"Текущий ремонт зданий, сооружений",407,59-01-01-00-02-019
1,"административное здание, лит. а, г. ю-сахал...",497.9,2021,"Текущий ремонт зданий, сооружений",407,59-01-01-00-02-019
2,выборочный капитальный ремонт в части системы...,2223558.0,2021,Капитальный ремонт,2052,NaN
3,"выборочный капитальный ремонт кровли здания, ...",2394.55,2019,Капитальный ремонт,2052,NaN
4,пристрой к административному зданию литер а1 ...,24.24,2021,"Текущий ремонт зданий, сооружений",295,58-01-01-00-00-005
...,...,...,...,...,...,...
532,строительство тепловой сети к зданию расчетно-...,3367.16,2018,Капитальное строительство,-1,NaN
533,текущий ремонт пристройки к зданию главного уп...,483.0,2023,"Текущий ремонт зданий, сооружений",-1,NaN
534,текущий ремонт пристройки к зданию главного уп...,62.99,2023,"Текущий ремонт зданий, сооружений",-1,NaN
535,"центральный банк (гараж), по адресу: г. хабаро...",312.4,2021,"Текущий ремонт зданий, сооружений",465,73-05-01-00-03-032
536,"центральный банк (убежище 300 мест), по адресу...",95.9,2021,"Текущий ремонт зданий, сооружений",416,73-07-01-00-00-005

In [341]:
kr_ks_tp.to_csv("kr_ks_tp.csv", index=False)