In [2]:
import pandas as pd

In [33]:
expenses = pd.read_csv("expenses.csv")
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [12]:
expenses.dropna(subset=['y1'], inplace=True)
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [8]:
list_df = pd.read_csv("list.csv")
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id,ids_row
0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,0,04-07-01-00-00-003
1,"административное здание, 676014, амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино,1,04-01-06-00-00-005
2,"административное здание, лит. а, а1, 676980, к...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка,2,04-01-09-00-00-007
3,"административное здание, 676530, амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал,3,04-01-03-00-00-008
4,"административное здание, 675000, амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,4,04-01-01-00-00-009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11412,"ркц, чукотский автономный округ, р-н анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский,2398,79-01-03-036
11413,"административное здание, российская федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2399,79-01-01-039
11414,"пристройка к тп № 2, российская федерация, чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2429,79-04-01-042
11415,"здание ркц, российская федерация, чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино,2430,79-01-01-043
11416,"пункт резервного энергоснабжения , чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский,2402,79-04-03-045

In [13]:
kr_ks_tp = pd.read_csv("kr_ks_tp.csv")
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
0,"16. помещение объект № 2 (вспомогательный), г...",260.0,2019.0,"Текущий ремонт зданий, сооружений",0.0,NaN
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023.0,"Текущий ремонт зданий, сооружений",0.0,04-07-01-00-00-003
...,...,...,...,...,...,...
361,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,NaN,NaN,NaN,NaN,NaN
364,NaN,NaN,NaN,NaN,NaN,NaN
365,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
kr_ks_tp.dropna(inplace=True)
kr_ks_tp['Column5'] = kr_ks_tp['Column5'].astype(int)
kr_ks_tp

,Column1,Column2,Column3,Column4,Column5,ids_row
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
8,"11. административное здание, г. благовещенск,...",592.0,2020.0,"Текущий ремонт зданий, сооружений",22,04-01-02-00-01-001
...,...,...,...,...,...,...
322,"8. административное здание, приморский край, г...",3856.97,2022.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
323,"административное здание, г. владивосток, светл...",105.99,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
324,"административное здание, г. владивосток, светл...",451.19,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
325,"административное здание, г.владивосток, светла...",86.93,2023.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
326,3.теплая стоянка с медсанчастью реестр. 59-05-...,0.0,2022.0,"Текущий ремонт зданий, сооружений",1591,59-05-01-00-03-048

In [38]:
kr_ks_tp.rename({"Column5": "id", "Column3": "year"}, axis=1, inplace=True)
kr_ks_tp

,Column1,Column2,year,Column4,id,ids_row
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023.0,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
8,"11. административное здание, г. благовещенск,...",592.0,2020.0,"Текущий ремонт зданий, сооружений",22,04-01-02-00-01-001
...,...,...,...,...,...,...
322,"8. административное здание, приморский край, г...",3856.97,2022.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
323,"административное здание, г. владивосток, светл...",105.99,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
324,"административное здание, г. владивосток, светл...",451.19,2021.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
325,"административное здание, г.владивосток, светла...",86.93,2023.0,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
326,3.теплая стоянка с медсанчастью реестр. 59-05-...,0.0,2022.0,"Текущий ремонт зданий, сооружений",1591,59-05-01-00-03-048

In [39]:
kr_ks_tp['year'] = kr_ks_tp['year'].astype(int)
kr_ks_tp

,Column1,Column2,year,Column4,id,ids_row
1,"14.помещение объект № 2 (вспомогательный), г....",287.0,2020,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.0,2022,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.0,2021,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
8,"11. административное здание, г. благовещенск,...",592.0,2020,"Текущий ремонт зданий, сооружений",22,04-01-02-00-01-001
...,...,...,...,...,...,...
322,"8. административное здание, приморский край, г...",3856.97,2022,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
323,"административное здание, г. владивосток, светл...",105.99,2021,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
324,"административное здание, г. владивосток, светл...",451.19,2021,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
325,"административное здание, г.владивосток, светла...",86.93,2023,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
326,3.теплая стоянка с медсанчастью реестр. 59-05-...,0.0,2022,"Текущий ремонт зданий, сооружений",1591,59-05-01-00-03-048

In [54]:
kr_ks_tp['Column2'] = kr_ks_tp['Column2'].astype(float)
kr_ks_tp

,Column1,Column2,year,Column4,id,ids_row
1,"14.помещение объект № 2 (вспомогательный), г....",287.00,2020,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
2,"3.помещение объект № 2 (вспомогательный), г. ...",135.00,2022,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
3,"помещение объект № 2 (вспомогательный), г. бл...",231.00,2021,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
4,"помещение объект № 2 (вспомогательный), г. бл...",353.06,2023,"Текущий ремонт зданий, сооружений",0,04-07-01-00-00-003
8,"11. административное здание, г. благовещенск,...",592.00,2020,"Текущий ремонт зданий, сооружений",22,04-01-02-00-01-001
...,...,...,...,...,...,...
322,"8. административное здание, приморский край, г...",3856.97,2022,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
323,"административное здание, г. владивосток, светл...",105.99,2021,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
324,"административное здание, г. владивосток, светл...",451.19,2021,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
325,"административное здание, г.владивосток, светла...",86.93,2023,"Текущий ремонт зданий, сооружений",1385,51-01-01-00-00-191
326,3.теплая стоянка с медсанчастью реестр. 59-05-...,0.00,2022,"Текущий ремонт зданий, сооружений",1591,59-05-01-00-03-048

In [56]:
expenses['zatr'] = 0.0

In [81]:
ids = expenses['id'].unique()
for id in ids:
    ss = kr_ks_tp.loc[kr_ks_tp['id'] == id, 'Column2'].sum()
    print(ss, id)
    expenses.loc[expenses['id'] == id, "zatr"] = ss
        #print(expenses.loc[(expenses['id'] == id) & (expenses['year'] == year), "zatr"])
expenses

1006.06 0
0.0 2
0.0 4
0.0 5
0.0 6
0.0 7
0.0 8
0.0 9
0.0 10
0.0 14
0.0 16
0.0 17
0.0 19
0.0 20
592.0 22
0.0 23
1166.0 24
0.0 25
1771.5 26
0.0 27
0.0 28
2328.0 30
0.0 31
0.0 32
0.0 35
0.0 37
0.0 38
0.0 40
0.0 44
0.0 48
0.0 52
0.0 53
0.0 56
0.0 58
0.0 61
0.0 75
0.0 103
0.0 111
2185.01 114
195.1 158
0.0 160
0.0 161
0.0 162
0.0 165
0.0 172
0.0 175
0.0 176
0.0 178
0.0 182
11014.169999999998 185
36.14 186
0.0 187
0.0 188
1728.26 190
0.0 192
0.0 194
0.0 195
0.0 196
0.0 202
0.0 203
0.0 205
0.0 210
0.0 215
0.0 216
0.0 222
0.0 233
0.0 235
0.0 237
86.12 239
0.0 245
0.0 246
295.95 247
7281.86 248
313.38 249
0.0 252
198.9 254
0.0 279
0.0 282
0.0 285
0.0 287
0.0 293
0.0 294
7.98 297
0.0 298
0.0 300
0.0 301
250.08 309
0.0 310
582.76 312
0.0 316
0.0 325
0.0 327
0.0 329
0.0 330
0.0 332
0.0 347
0.0 354
0.0 356
0.0 360
0.0 368
0.0 369
0.0 371
0.0 374
0.0 377
0.0 379
0.0 380
0.0 381
24.0 385
0.0 386
0.0 388
0.0 392
0.0 393
0.0 394
0.0 395
0.0 397
0.0 398
0.0 399
0.0 406
15283.4 407
0.0 414
0.0 415
789.0 421
0.0 423
0.0 424
0.0 427
0.0 432
0.0 433
0.0 436
133.83 437
0.0 439
0.0 461
0.0 467
447.0 471
0.0 487
362.1 489
0.0 490
0.0 493
0.0 496
919.03 497
0.0 498
0.0 501
0.0 502
0.0 504
0.0 505
0.0 510
0.0 512
0.0 513
0.0 533
0.0 534
1509.06 539
0.0 545
0.0 561
0.0 577
0.0 606
0.0 616
0.0 618
0.0 619
0.0 620
0.0 631
0.0 633
0.0 636
0.0 639
0.0 645
1573.6 678
458.02 681
0.0 683
0.0 706
0.0 718
0.0 732
0.0 745
0.0 748
0.0 750
0.0 804
0.0 810
0.0 818
0.0 819
0.0 838
0.0 840
0.0 848
0.0 976
0.0 1014
0.0 1017
0.0 1442
0.0 1469
0.0 1542
0.0 1764
0.0 1795
0.0 1800
0.0 1802
0.0 1864
0.0 1869
0.0 1876
0.0 1878
0.0 1883
0.0 1903
0.0 1909
0.0 1915
0.0 1929
0.0 1941
0.0 1942
0.0 1957
0.0 1990
0.0 2007
0.0 2010
0.0 2014
0.0 2027
0.0 2029
0.0 2056
0.0 2059
0.0 2061
0.0 2085
0.0 2096
0.0 2101
0.0 2130

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,zatr
0,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,1006.06
1,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,1006.06
2,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,1006.06
3,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,1006.06
4,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,1006.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29498,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,0.00
29499,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,0.00
29500,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,0.00
29501,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,0.00
29502,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,0.00

In [89]:
new_ids = kr_ks_tp['id'].to_list()
import random
sums = []
for id in new_ids:
    ss = kr_ks_tp.loc[kr_ks_tp['id'] == id, 'Column2'].sum()
    sums.append(ss)
print(sums)

expenses.loc[expenses['zatr'] == 0.0, 'zatr'] = random.choices(sums, k=1376)
expenses

[1006.06, 1006.06, 1006.06, 1006.06, 592.0, 1166.0, 1166.0, 1166.0, 1166.0, 1166.0, 1166.0, 1166.0, 1771.5, 1771.5, 2328.0, 2328.0, 1949.9500000000003, 1949.9500000000003, 1949.9500000000003, 1949.9500000000003, 1949.9500000000003, 1949.9500000000003, 1949.9500000000003, 168.0, 1789.0, 1789.0, 1789.0, 1789.0, 657.19, 657.19, 657.19, 10.29, 181.82, 2185.01, 2185.01, 2185.01, 2185.01, 2185.01, 201.6, 4458.3, 4458.3, 238.7, 0.0, 195.1, 1874.5500000000002, 1874.5500000000002, 1874.5500000000002, 237.8, 11014.169999999998, 11014.169999999998, 11014.169999999998, 11014.169999999998, 11014.169999999998, 11014.169999999998, 11014.169999999998, 36.14, 1728.26, 1728.26, 1728.26, 1728.26, 1965.8799999999999, 1965.8799999999999, 0.0, 498.37, 498.37, 498.37, 1747.8400000000001, 1747.8400000000001, 1747.8400000000001, 2166.11, 2166.11, 0.0, 0.0, 86.12, 363.11, 363.11, 138.5, 1584.94, 1584.94, 1584.94, 1584.94, 1584.94, 1584.94, 295.95, 7281.86, 313.38, 198.9, 87.07, 5210.78, 737.18, 104.29, 924.3599999999999, 924.3599999999999, 924.3599999999999, 924.3599999999999, 924.3599999999999, 1169.6, 1169.6, 1169.6, 1169.6, 1169.6, 7.98, 7.98, 0.0, 250.08, 582.76, 582.76, 0.0, 10605.919999999998, 10605.919999999998, 10605.919999999998, 10605.919999999998, 10605.919999999998, 0.0, 2161.38, 2161.38, 2161.38, 3888.51, 3888.51, 3888.51, 3888.51, 774.0, 774.0, 774.0, 774.0, 24.0, 0.0, 0.0, 0.0, 15283.4, 15283.4, 15283.4, 15283.4, 15283.4, 15283.4, 15283.4, 15283.4, 199.9, 199.9, 199.9, 789.0, 789.0, 789.0, 0.0, 133.83, 0.0, 18.0, 237.0, 98.0, 175.56, 175.56, 175.56, 61.2, 12524.27, 12524.27, 12524.27, 12524.27, 12524.27, 12524.27, 373.4, 373.4, 447.0, 32.0, 331.0, 331.0, 331.0, 331.0, 329.6, 329.6, 329.6, 329.6, 12165.0, 12165.0, 12165.0, 963.0, 963.0, 963.0, 362.1, 207.93, 919.03, 919.03, 11631.59, 11631.59, 11631.59, 11631.59, 11631.59, 11577.6, 11577.6, 11577.6, 11577.6, 11577.6, 11577.6, 11577.6, 1509.06, 1509.06, 1509.06, 72.42, 0.0, 0.0, 1573.6, 346.39, 348.7, 458.02, 458.02, 333.13, 44.2, 679.0, 4960.09, 4960.09, 4960.09, 4960.09, 4960.09, 122.09, 122.09, 0.0, 0.0, 2169.0, 2725.0, 8.0, 293.94, 296.63, 4501.08, 4501.08, 4501.08, 4501.08, 0.0]

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,zatr
0,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,1006.06
1,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,1006.06
2,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,1006.06
3,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,1006.06
4,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,1006.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29498,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,12165.00
29499,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,12524.27
29500,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,4960.09
29501,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,1006.06
29502,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,331.00

In [77]:
expenses.loc[expenses['id'] == 193 ]

Empty DataFrame
Columns: [rashod_name, year, y1, id, building_year, balance_date, object_square, building_square, balance, revaluation, depreciation, residual_value, technical_condition, quarter, otdel, city, zatr]
Index: []

In [35]:
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [36]:
expenses = expenses.merge(list_df, on=["year", "id"], how="inner")
expenses

,rashod_name,naprvalenie,year,y1,id,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,ids_row
0,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
1,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
2,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
3,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
4,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29498,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,8779.34,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29499,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1847.78,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29500,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,751.40,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29501,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1249.12,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29502,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,234.33,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019

In [27]:

expenses

,rashod_name,naprvalenie,year,y1,id,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,ids_row
0,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
1,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
2,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
3,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
4,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,8779.34,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29477,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1847.78,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29478,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,751.40,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29479,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1249.12,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29480,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,234.33,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019

In [44]:

# drop naprvalenie object_name ids_row
expenses = expenses.drop(columns=["naprvalenie", "naprvalenie", "object_name", "ids_row"])
expenses

KeyError: "['naprvalenie', 'naprvalenie', 'object_name', 'ids_row'] not found in axis"

In [43]:
expenses

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,Column1,Column2,Column4,ids_row
0,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,NaN,NaN,NaN,NaN
1,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,NaN,NaN,NaN,NaN
2,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,NaN,NaN,NaN,NaN
3,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,NaN,NaN,NaN,NaN
4,"Оплата водоснабжения, канализации",2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29498,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,NaN,NaN,NaN,NaN
29499,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,NaN,NaN,NaN,NaN
29500,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,NaN,NaN,NaN,NaN
29501,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,NaN,NaN,NaN,NaN
29502,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,NaN,NaN,NaN,NaN

In [31]:
# dicts technical_condition otdel city rashod_name
rashod_names = expenses['rashod_name'].to_list()
rashod_names_dict = {rashod_names[i]: i for i in range(len(rashod_names))}

technical_conditions = expenses["technical_condition"].to_list()
technical_conditions_dict = {technical_conditions[i]: i for i in range(len(technical_conditions))}

otdels = expenses["otdel"].to_list()
otdels_dict = {otdels[i]: i for i in range(len(otdels))}

city = expenses["city"].to_list()
city_dict = {city[i]: i for i in range(len(city))}

expenses["rashod_name"] = expenses["rashod_name"].map(rashod_names_dict)
expenses["technical_condition"] = expenses["technical_condition"].map(technical_conditions_dict)
expenses["otdel"] = expenses["otdel"].map(otdels_dict)
expenses["city"] = expenses["city"].map(city_dict)
expenses

,rashod_name,year,y1,id,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412
1,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,29480,2,28240,5412
2,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,29480,3,28240,5412
3,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,29480,4,28240,5412
4,27751,2016,103.08,0,1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,29480,2021,8779.34,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29477,29480,2021,1847.78,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29478,29480,2021,751.40,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29479,29480,2021,1249.12,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480
29480,29480,2021,234.33,2130,1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480

In [90]:
expenses = expenses.drop(columns="building_year")

In [91]:
expenses.to_csv("final.csv", index=False)