In [106]:
import pandas as pd

In [107]:
expenses = pd.read_csv("expenses.csv")
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [108]:
expenses.dropna(subset=['y1'], inplace=True)
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [109]:
list_df = pd.read_csv("list.csv")
list_df

,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,year,quarter,otdel,city,id,ids_row
0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1.638812e+06,937438.23,591497.66,1.047315e+06,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,0,04-07-01-00-00-003
1,"административное здание, 676014, амурская обла...",1978,27.12.1990,389.1,389.1,1.050735e+06,771306.47,446494.59,6.042402e+05,Удовлетворительное,2016,1,Отделение Благовещенск,Сковородино,1,04-01-06-00-00-005
2,"административное здание, лит. а, а1, 676980, к...",1959,27.12.1990,237.7,237.7,1.267112e+05,53749.02,93108.95,3.360228e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Константиновка,2,04-01-09-00-00-007
3,"административное здание, 676530, амурская обла...",1935,27.12.1990,830.2,830.2,1.657841e+06,0.00,1657840.58,0.000000e+00,Ветхое,2016,1,Отделение Благовещенск,Новокиевский Увал,3,04-01-03-00-00-008
4,"административное здание, 675000, амурская обла...",1958,14.02.1992,403.9,403.9,3.038926e+05,162432.93,208772.46,9.512017e+04,Удовлетворительное,2016,1,Отделение Благовещенск,Благовещенск,4,04-01-01-00-00-009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11412,"ркц, чукотский автономный округ, р-н анадырски...",1991,01.01.1991,513.0,0.0,5.010097e+06,1892900.30,2341139.51,2.668958e+06,Удовлетворительное,2023,3,Отделение Анадырь,пгт Беринговский,2398,79-01-03-036
11413,"административное здание, российская федерация,...",2001,01.01.2001,2690.2,0.0,2.076046e+08,10444758.74,45153764.60,1.624508e+08,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2399,79-01-01-039
11414,"пристройка к тп № 2, российская федерация, чук...",1995,01.01.1995,22.9,0.0,8.504830e+05,344633.94,401215.18,4.492678e+05,Хорошее,2023,3,Отделение Анадырь,городской округ Анадырь,2429,79-04-01-042
11415,"здание ркц, российская федерация, чукотский ав...",1987,01.01.1990,546.3,0.0,1.103891e+07,9526978.74,3668172.74,7.370742e+06,Хорошее,2023,3,Отделение Анадырь,городское поселение Билибино,2430,79-01-01-043
11416,"пункт резервного энергоснабжения , чукотский а...",1997,01.01.1997,96.3,0.0,3.167024e+06,78402.86,987875.69,2.179149e+06,Хорошее,2023,3,Отделение Анадырь,пгт Беринговский,2402,79-04-03-045

In [110]:
expenses

,rashod_name,naprvalenie,year,y1,id
0,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
1,Оплата всех видов отопления зданий и сооружени...,ЗО 134.1000.02 Оплата за тепловую энергию по т...,2021,10384.89,0
2,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,163241.45,0
3,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14380.49,0
4,Оплата потребления электроэнергии,134.1000.01 Оплата за электроэнергию по тарифа...,2021,14462.60,0
...,...,...,...,...,...
14403,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,8419.16,2508
14404,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,7989.20,2508
14405,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,6699.74,2508
14406,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,36941.96,2508
14407,Оплата всех видов отопления зданий и сооружени...,134.1000.020000 Оплата за тепловую энергию по ...,2021,59256.03,2508

In [111]:
expenses = expenses.merge(list_df, on=["year", "id"], how="inner")
expenses

,rashod_name,naprvalenie,year,y1,id,object_name,building_year,balance_date,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,ids_row
0,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
1,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
2,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
3,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
4,"Оплата водоснабжения, канализации",Оплата канализации помещение объект № 2 пер. ...,2016,103.08,0,"помещение объект № 2 (вспомогательный), 675000...",1980,13.07.1990,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,04-07-01-00-00-003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,8779.34,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29477,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1847.78,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29478,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,751.40,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29479,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,1249.12,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019
29480,Оплата всех видов отопления зданий и сооружени...,134.1000.02 Столовая ДГУ. Оплата за тепловую э...,2021,234.33,2130,"часть здания банка, республика саха, у. алданс...",1994,09.01.2016,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,58-01-06-00-03-019

In [112]:

# drop naprvalenie object_name ids_row
expenses = expenses.drop(columns=["naprvalenie", "naprvalenie", "object_name", "ids_row", "building_year", "balance_date"])
expenses

,rashod_name,year,y1,id,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city
0,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск
1,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск
2,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск
3,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск
4,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29477,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29478,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29479,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан
29480,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан

In [119]:
expenses['npc'] = 0

In [121]:
ids = expenses['id'].unique()
from tqdm import tqdm
for id in tqdm(ids):
    years = expenses[expenses['id'] == id]['year'].to_list()
    years.sort()
    sums_amort = 0
    sums_balance = 0
    #балансная -balance, амортизация - deprecation
    for year in range(1, len(years) + 1):
        obj = expenses.loc[(expenses['id'] == id) & (expenses['year'] == years[year -1])].iloc[0]
        r = 1 / ((1 + 0.1) ** year)
        balance = obj['balance']
        amort = obj['depreciation']
        sums_balance += balance / ((1 + r) ** year)
        sums_amort += amort / ((1 + r) ** year)
    ans = sums_balance - sums_amort
    expenses.loc[expenses['id'] == id, 'npc'] = ans
expenses

100%|██████████| 214/214 [00:12<00:00, 16.71it/s]

,rashod_name,year,y1,id,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,npc
0,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,2.078798e+08
1,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,Удовлетворительное,2,Отделение Благовещенск,Благовещенск,2.078798e+08
2,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,Удовлетворительное,3,Отделение Благовещенск,Благовещенск,2.078798e+08
3,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,Удовлетворительное,4,Отделение Благовещенск,Благовещенск,2.078798e+08
4,"Оплата водоснабжения, канализации",2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,Удовлетворительное,1,Отделение Благовещенск,Благовещенск,2.078798e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,Оплата всех видов отопления зданий и сооружени...,2021,8779.34,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,3.902118e+06
29477,Оплата всех видов отопления зданий и сооружени...,2021,1847.78,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,3.902118e+06
29478,Оплата всех видов отопления зданий и сооружени...,2021,751.40,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,3.902118e+06
29479,Оплата всех видов отопления зданий и сооружени...,2021,1249.12,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,3.902118e+06
29480,Оплата всех видов отопления зданий и сооружени...,2021,234.33,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,Удовлетворительное,4,Отделение - НБ Республика Саха (Якутия),Алдан,3.902118e+06

In [122]:
# dicts technical_condition otdel city rashod_name
rashod_names = expenses['rashod_name'].to_list()
rashod_names_dict = {rashod_names[i]: i for i in range(len(rashod_names))}

technical_conditions = expenses["technical_condition"].to_list()
technical_conditions_dict = {technical_conditions[i]: i for i in range(len(technical_conditions))}

otdels = expenses["otdel"].to_list()
otdels_dict = {otdels[i]: i for i in range(len(otdels))}

city = expenses["city"].to_list()
city_dict = {city[i]: i for i in range(len(city))}

expenses["rashod_name"] = expenses["rashod_name"].map(rashod_names_dict)
expenses["technical_condition"] = expenses["technical_condition"].map(technical_conditions_dict)
expenses["otdel"] = expenses["otdel"].map(otdels_dict)
expenses["city"] = expenses["city"].map(city_dict)
expenses

,rashod_name,year,y1,id,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,npc
0,27751,2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412,2.078798e+08
1,27751,2016,103.08,0,217.7,217.7,1638812.21,937438.23,596414.09,1042398.12,29480,2,28240,5412,2.078798e+08
2,27751,2016,103.08,0,217.7,217.7,1638812.21,937438.23,601330.52,1037481.69,29480,3,28240,5412,2.078798e+08
3,27751,2016,103.08,0,217.7,217.7,1638812.21,937438.23,606246.95,1032565.26,29480,4,28240,5412,2.078798e+08
4,27751,2016,103.08,0,217.7,217.7,1638812.21,937438.23,591497.66,1047314.55,29480,1,28240,5412,2.078798e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29476,29480,2021,8779.34,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480,3.902118e+06
29477,29480,2021,1847.78,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480,3.902118e+06
29478,29480,2021,751.40,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480,3.902118e+06
29479,29480,2021,1249.12,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480,3.902118e+06
29480,29480,2021,234.33,2130,783.5,783.5,3732828.27,1619966.80,1014084.97,2718743.30,29480,4,29480,29480,3.902118e+06

In [124]:
expenses.corr()

,rashod_name,year,y1,id,object_square,building_square,balance,revaluation,depreciation,residual_value,technical_condition,quarter,otdel,city,npc
rashod_name,1.000000,0.281030,0.045035,0.264235,-0.088142,-0.088142,-0.131060,-0.019305,-0.019927,-0.018195,0.123215,0.035883,0.169103,0.180029,-0.159141
year,0.281030,1.000000,-0.008823,0.850717,-0.065690,-0.065690,0.072935,-0.023355,0.062131,0.061013,0.084402,0.020023,0.087680,0.208936,-0.165635
y1,0.045035,-0.008823,1.000000,0.001148,0.088445,0.088445,0.040635,0.082878,0.082708,0.025852,0.022694,0.006677,0.032887,0.010946,0.022933
id,0.264235,0.850717,0.001148,1.000000,-0.109796,-0.109796,0.102913,0.006930,0.051678,0.067751,0.041651,0.075173,0.045740,0.460251,-0.102698
object_square,-0.088142,-0.065690,0.088445,-0.109796,1.000000,1.000000,0.246148,0.611754,0.684217,0.421326,0.099009,0.013634,0.048694,-0.180899,-0.042717
building_square,-0.088142,-0.065690,0.088445,-0.109796,1.000000,1.000000,0.246148,0.611754,0.684217,0.421326,0.099009,0.013634,0.048694,-0.180899,-0.042717
balance,-0.131060,0.072935,0.040635,0.102913,0.246148,0.246148,1.000000,0.163333,0.241550,0.408964,0.094225,-0.041225,-0.172198,0.004103,0.583491
revaluation,-0.019305,-0.023355,0.082878,0.006930,0.611754,0.611754,0.163333,1.000000,0.504056,0.445928,0.104084,-0.006842,0.020448,-0.084277,-0.107793
depreciation,-0.019927,0.062131,0.082708,0.051678,0.684217,0.684217,0.241550,0.504056,1.000000,0.640815,0.138809,0.058832,0.023158,-0.071446,-0.075962
residual_value,-0.018195,0.061013,0.025852,0.067751,0.421326,0.421326,0.408964,0.445928,0.640815,1.000000,0.146831,-0.012529,0.108233,0.073377,0.231022
technical_condition,0.123215,0.084402,0.022694,0.041651,0.099009,0.099009,0.094225,0.104084,0.138809,0.146831,1.000000,-0.058514,0.214529,0.087353,0.092044
quarter,0.035883,0.020023,0.006677,0.075173,0.013634,0.013634,-0.041225,-0.006842,0.058832,-0.012529,-0.058514,1.000000,0.074737,0.017778,-0.115159
otdel,0.169103,0.087680,0.032887,0.045740,0.048694,0.048694,-0.172198,0.020448,0.023158,0.108233,0.214529,0.074737,1.000000,0.103754,-0.139166
city,0.180029,0.208936,0.010946,0.460251,-0.180899,-0.180899,0.004103,-0.084277,-0.071446,0.073377,0.087353,0.017778,0.103754,1.000000,0.156184
npc,-0.159141,-0.165635,0.022933,-0.102698,-0.042717,-0.042717,0.583491,-0.107793,-0.075962,0.231022,0.092044,-0.115159,-0.139166,0.156184,1.000000

In [123]:
expenses.to_csv("final.csv", index=False)